@charset "utf-8";

/* リセットCSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ここから自分で記述 */
.flex {
  display: flex;
}

.left {
  width: 20%;
}

.right {
  width: 80%;
}

.main {
  width: 80%;
  margin: 0 auto;
}

/* sidenav */
.sidenav {
  min-height: 100vh;
  background-color: #2E2E38;
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

.sidenav li {
  padding: 15px 0;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  list-style: none;
}

.sidenav a {
  color: #fff;
}

.sidenav a:hover {
  color: #fff;
}

/* toDoリスト 一覧 */
.title {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

.list-container {
  margin: 50px 0 20px;
}

.todo-container,
.done-container {
  width: 50%;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.todo-container {
  background-color:  #2E2E38;
  position: relative;
}

.done-container {
  border: 1px solid #2E2E38;
}

.list-name {
  font-size: 24px;
}

.todo-plus-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
}

/* card */
.card {
  margin: 10px 0;
}

/* メモ一覧 */
.memo-top {
  justify-content: space-between;
  border-bottom: 1px solid #2E2E38;
  padding: 10px 0;
  margin-bottom: 20px;
}

.card-body {
  justify-content: space-between;
  align-items: center;
}

.icon-btn {
  border: none;
  background-color: #fff;
  margin: 0 10px;
}

/* メモ新規作成・編集 */
.form-container {
  width: 80%;
  background-color: #eee;
  margin: 50px auto 0;
}

.form {
  width: 80%;
  margin: 0 auto;
}

.item-name {
  padding: 30px 0;
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.back-btn {
  color: #000;
  text-decoration: underline;
}